# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json
api:
  dashboard: true

experimental:
  plugins:
    traefik-oidc-auth:
      moduleName: "github.com/sevensolutions/traefik-oidc-auth"
      version: "v0.17.0"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "schaermu+acme@pm.me"
      storage: "/certs/acme_letsencrypt.json"
      dnsChallenge:
        provider: cloudflare

entryPoints:
  web:
    address: ":8080"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"

  websecure:
    address: ":8443"
    transport:
      respondingTimeouts:
        readTimeout: 0s
        idleTimeout: 600s
        writeTimeout: 600s
    http:
      tls:
        certResolver: letsencrypt
        domains:
          - main: schaermu.ch
            sans:
              - "*.schaermu.ch"
              - "*.lab.schaermu.ch"
      middlewares:
        - default@file

global:
  checkNewVersion: true
  sendAnonymousUsage: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
    defaultRule: 'Host(`{{ index .Labels "com.docker.compose.service" }}.lab.schaermu.ch`)'
  file:
    filename: "/etc/traefik/dynamic.conf.yml"
    watch: true
  providersThrottleDuration: 10s

log:
  level: WARN

metrics:
  prometheus: {}