#!/bin/bash
set -e

ensure_secret() {
    local secret_name="$(echo "$1" | awk '{print toupper($0)}')"
    local secret_value="$2"
    if podman secret exists "$secret_name"; then
        podman secret rm "$secret_name"
    fi
    printf "%s" "$secret_value" | podman secret create "$secret_name" -
}

{% raw %}{{ with secret "{% endraw %}{{ project_id }}{% raw %}" "prod" "/" `{"recursive": true, "expandSecretReferences": true}` -}}
{{- range . }}
{{- if ne .SecretPath "/" }}
{{- if ne (printf "%.2s" .SecretPath) "/_" -}}
ensure_secret "{{ slice .SecretPath 1 }}_{{ .Key }}" "{{ .Value }}"
{{ end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{% endraw %}