#!/bin/bash

ensure_secret() {
    local secret_name="$1"
    local secret_value="$2"
    if podman secret exists "$secret_name"; then
        podman secret rm "$secret_name"
    fi
    printf "%s" "$secret_value" | podman secret create "$secret_name" -
}

{% raw %}{{- with secret "{% endraw %}{{ project_id }}{% raw %}" "prod" "/" -}}
{{- range $key, $value := .data if $key | not contains "_" -}}
ensure_secret "{{ $key }}" "{{ $value }}"
{{- end }}
{% endraw %}