- name: Set hostname based on inventory_hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Reboot after hostname change
  ansible.builtin.reboot:
    msg: "Rebooting to apply new hostname"
    pre_reboot_delay: 5
    post_reboot_delay: 10
    reboot_timeout: 300
  when: ansible_facts['hostname'] != inventory_hostname
